#Compiled class file
*.class
*~

# Log file
*.log

# Package Files #
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# User-specific stuff:
**/.idea/*.xml
**/.idea/.name
**/.idea/libraries
**/.idea/codeStyles

# Sensitive or high-churn files:
*.iml

## File-based project format:
*.iws

# excluded folders
target/
logs/
repository/
data/
out/
